language: node_js
node_js:
  - 12.19.0
cache: npm 

install:
  - npm install

script:
  - npm test
  - npm run build

deploy:
  provider: netlify
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  on:
    branch: master
