.app__form {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 46%;
  margin: 20px;
  background-color: rgba(236, 243, 249, 255) !important;
  border-radius: 30px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}

.header {
  display: flex;
  place-items: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.header > .MuiAvatar-root {
  margin-left: 10px;
}

.header > p {
  margin-left: 15px;
}
